/* unvisited link */
a:link {
    color: #ff3300;
}

/* visited link */
a:visited {
    color: #ff9900;
}

/* mouse over link */
a:hover {
    color: #ff6600;
}

/* selected link */
a:active {
    color: #ff9933;
}

/* Map */

html,
body,
.map-view {
	margin: 0;
	padding: 0;
	height: 100%;
}

#map-canvas {
	height: 100%;
	width: 100%;
	position: absolute;
}

/* Location */

.location-input {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 50px;
}

/* Results */

@media (min-width: 615px) {
	.results-info {
		display: inline-block;
		position: absolute;
		top: 10px;
		right: 50px;
	}
}

@media (max-width: 614px) {
	.results-info {
		display: inline-block;
		position: absolute;
		top: 42px;
		right: 50px;
	}
}

@media (max-width: 350px) {
	.results-info {
		display: inline-block;
		position: absolute;
		top: 70px;
		right: 50px;
	}
}

.results-button {
	display: block;
	margin-left: auto;
}

.apply-button {
	width: 49%;
}

.remove-button {
	width: 49%;
	float: right;
}

.results-list {
	overflow-y: auto;
	overflow-x: hidden;
	height: 300px;
}

.results-list a {
	color: black;
}

.highlight-event {
	background-color: #ffebcc;
}

.highlight-performer {
	background-color: orange;
}

/* Performer Info */

.info-heading {
	font-weight: bold;
	text-align: center;
}

.info-subheading {
	font-weight: bold;
	text-align: center;
	color: orange;
}

.videos-list {
	text-align: center;
}

.videos {
	margin: 10px 40px;
	width: 200px;
	height: 200px;
}

.back-btn {
	display: block;
	margin: 0 auto;
	position: fixed;
	top: 10px;
	left: 5px;
}