html, body, .map-list {
	margin: auto;
	max-width: 1500px;
	padding: 0;
	height: 100%;
	position: relative;
}
#map-canvas {
	height: 100%;
}

#content_header {
	color: orange;
}

.results {
	height: 100%;
	margin: 0;
	padding:0;
	position:
	absolute; right:0; top:0;
	background-color: white;
 }

#results-list {
	overflow: auto;
}

.venue-name {
	font-size:110%;
	color: white;
	display: block;
	background-color: #666666;
	cursor:pointer;
}

.artist-name {
	margin-left: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor:pointer;
}

.highlight-event {
	background-color: #FFEBCC;
}

.highlight-performer {
	background-color: orange;
}

.filled {
	display: none;
}

.info-heading {
	font-weight: bold;
	text-align: center;
}

.info-subheading {
	font-weight: bold;
	text-align: center;
	color:orange;
}

.videos-list {
	text-align: center;
}

.videos {
	margin: 10px 40px;
	width: 200px;
	height: 200px;
}

.back-btn {
	display: block;
	margin: 0 auto;
}

/* unvisited link */
a:link {
    color: #FF3300;
}

/* visited link */
a:visited {
    color: #FF9900;
}

/* mouse over link */
a:hover {
    color: #FF6600;
}

/* selected link */
a:active {
    color: #FF9933;
}
